.social-media__link__logo {
    width: 15px;
    height: 15px;
    fill: #a7a7a7;
}

@media screen and (max-width: 990px) {
    .social-media__link__logo {
        width: 33px;
        height: 33px;
        margin: 0 16px;
    }
}