.embed-code__caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    cursor: default;
}

@media screen and (max-width: 990px) {
    .embed-code__caption {
        font-size: 24px;
    }
}