.user-actions__action__icon-container {
    width: 25px;
    height: 25px;
    background: #f5f5f5;
    margin-right: 7px;
}

@media screen and (max-width: 990px) {
    .user-actions__action__icon-container {
        width: 50px;
        height: 50px;
        margin-right: 14px;
    }
}