.menu__social-media {
    margin-top: 6%;
    margin-left: -17.5%;
    margin-bottom: 8.6%;
}

@media screen and (max-width: 990px) {
    .menu__social-media {
        margin-left: -20%;
        margin-bottom: 10.4%;
    }
}