.menu__line {
    width: 240px;
    outline: none;
    margin-left: 22.4%;
    margin-bottom: 7%;
    background: #a7a7a7;
}

@media screen and (max-width: 990px) {
    .menu__line {
        margin-left: 21%;
        width: 520px;
    }
}