.embed-code__code-container {
    margin-top: 5px;
    padding: 14px;
    border: 1px solid #a7a7a7;
    box-sizing: border-box;
}

@media screen and (max-width: 990px) {
    .embed-code__code-container {
        margin-top: 10px;
        padding: 28px;
    }
}