.search-layer__container__close-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: -6px;
}

@media screen and (max-width: 990px) {
    .search-layer__container__close-button {
        margin-right: 5px;
    }
}