.menu {
    display: flex;
    width: 385px;
    height: 100%;
    flex-direction: column;
    background: #181818;
    transition: left 0.7s;
}

@media screen and (max-width: 990px) {
    .menu {
        width: 820px;
    }
}