.embed-code__code-container__code {
    white-space: normal;
    word-break: break-all;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: #a7a7a7;
    font-size: 11px;
}

@media screen and (max-width: 990px) {
    .embed-code__code-container__code {
        font-size: 22px;
        line-height: 36px;
    }
}