.search-layer__container__search-input {
    width: 88%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    border: none;
    outline: none;
    background: none;
}

::placeholder {
    color: black;
}

@media screen and (max-width: 990px) {
    .search-layer__container__search-input {
        font-size: 60px;
        width: 79%;
    }
}
