.search-layer__container__search-button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width: 990px) {
    .search-layer__container__search-button {
        margin-left: 5px;
    }
}