.post__content__text {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 23px;
    margin-top: 2px;
    margin-bottom: 6px;
    line-height: 27px;
}

@media screen and (max-width: 990px) {
    .post__content__text {
        font-size: 60px;
        line-height: 80px;
    }
}