.search-layer__examples__item {
    color: #a7a7a7;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
}

@media screen and (max-width: 990px) {
    .search-layer__examples__item {
        font-size: 30px;
        margin-bottom: 23px;
    }
}